.home {
  overflow: hidden;
  height: 100vh;
}

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.3rem;
}

.home__header a {
  text-decoration: none;
  margin: 0 1rem;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
}

.home__header a:first-child {
  margin-right: 0.1rem;
}

.home__header a:hover {
  text-decoration: underline;
  color: #4e4c4c;
}

.home__logo {
  width: 242px;
  object-fit: contain;
  padding-top: 90px;
}

.home__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.home__headerAvatar {
  cursor: pointer;
  margin-left: 0.6rem;
  transform: scale(0.75);
}

.home__headerRight > .MuiSvgIcon-root {
  color: #757272;
  cursor: pointer;
  transform: scale(0.9);
}

.home__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
