.search__input {
  display: flex;
  align-items: center;
  margin: 25px auto;
  border-radius: 999px;
  border: 1px solid rgb(240, 230, 230);
  width: 85vw;
  padding: 4px 12px;
  max-width: 540px;
}

.hidden {
  max-width: 630px;
}

.search__input > input {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #1b1a1a;
  display: flex;
  flex: 1;
  border: none;
  padding: 5px 0;
  width: 50px;
  outline: none;
  background-color: transparent;
}

.search__input:hover {
  box-shadow: 0px 1px 9px -5px rgba(0, 0, 0, 0.678);
}

.search__input > .MuiSvgIcon-root {
  transform: scale(0.9);
  color: #a09a9a;
  cursor: pointer;
}

.search__input > .MuiSvgIcon-root:last-child {
  color: #068bb8;
}

.search__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__btns > button {
  margin: 0 0.6rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  background-color: #c9c9c044;
  color: #6d6969;
  padding: 7px 10px;
  border: 1px solid white;
}

.search__btns > button:hover {
  border: 1px solid gray;
  background-color: #e9e9df8f;
  color: black;
}

.search__btnsHidden {
  display: none;
}

.active {
  border-bottom: 3px solid rgb(36, 135, 216);
  padding-right: 1rem;
}

.search__options {
  display: flex;
  justify-content: space-between;
  padding-top: 0rem;
  margin-top: -1.6rem;
}

.search__optionsRight {
  display: flex;
}

.search__optionsLeft {
  display: flex;
}

.search__optionsRight .MuiSvgIcon-root {
  transform: scale(0.7);
  color: #6d6969;
  margin: 0.2rem;
}

.search__option {
  margin: 1rem 0.3rem 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__option > a {
  text-decoration: none;
  color: #6d6969;
  font-size: small;
}

.active .MuiSvgIcon-root,
.active a {
  color: #068bb8;
}

@media (max-width: 560px) {
  .search__option {
    display: none;
  }

  .search__option:first-child {
    display: inherit;
  }
}
